@import "~src/variables.scss";

.cocktail_item {
  width: 100%;
  height: 250px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  color: $text-high-color;
  background-color: $surface-item-color;
  &:hover {
    color: $primary-color;
    background-color: transparent;
    border: 1px solid $primary-color;
    border: 1px solid $primary-color;
  }
  &-img {
    width: 100%;
    //height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      border-radius: 50%;
      //height: 100%;
      width: 100%;
    }
  }
  &-name {
    font-size-adjust: 100%;
    margin: 0;
  }
}
