@import "~src/variables.scss";

.cocktail_item {
  width: 100%;
  height: 250px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  cursor: pointer;

  color: $text-high-color;
  background-color: $overlay-2dp;
  &:hover,
  &:active {
    color: $text-high-color;
    color: #bb86fc;
    background-color: $overlay-hover;
    border-color: transparent;
  }
  &-img {
    max-width: 160px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      border-radius: 50%;
      width: 100%;
    }
  }
  &-name {
    font-size-adjust: 100%;
    margin: 0;
  }
}
