<div class="searcher">
  <h2 class="searcher_title">Search cocktail by name or ingredient</h2>
  <div class="searcher_content">
    <form (submit)="onSubmit()">
      <input
        class="searcher_input"
        [(ngModel)]="searchText"
        type="text"
        name="search"
        id=""
        placeholder="Enter name"
      />
    </form>

    <div class="searcher_filter" (click)="toggleFilter()" #searchFilter>
      <div class="filter_wrapper">
        <p>{{ filterType }}</p>
        <img src="assets/icons/purple_down_arrow_icon.svg" alt="" />
      </div>
      <div
        [@toggleMenu]="filterIsOpen ? 'visible' : 'hidden'"
        #searchFilterMenu
        class="filter-options"
      >
        <ul>
          <li (click)="handleFilter('Cocktail'); $event.stopPropagation()">
            Cocktail
          </li>
          <li (click)="handleFilter('Ingredient'); $event.stopPropagation()">
            Ingredient
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
