@import "~src/variables";
$filter-width: 120px;

.searcher {
  width: 80%;
  max-width: $content-width;
  margin: 10px auto;
  padding: 5px 0;
  &_title {
    text-align: center;
    color: $primary-color;
    margin: 10px 0;
  }

  &_content {
    border-radius: 5px;
    width: 100%;
    background-color: $overlay-1dp;
    display: flex;
    height: 40px;
    padding: 5px 10px;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: $text-high-color !important;
  }

  form {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 5px;
    input {
      padding: 0 10px;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      outline: none;
      border: 1px solid $overlay-2dp;
      background-color: $overlay-1dp;
      color: $text-high-color;
      &:focus {
        border: 1px solid $primary-color;
      }
    }
    button {
      width: 40px;
      height: 100%;
      border-radius: 5px;
      border: none;
      background-color: transparent;
      &:hover {
        background-color: $overlay-1dp;
      }
      &:active {
        background-color: $overlay-2dp;
      }
      img {
        aspect-ratio: 1/1;
        height: 100%;
        margin: auto;
      }
    }
  }

  &_filter {
    position: relative;
    height: 100%;
    color: $text-high-color;
    cursor: pointer;
    & > .filter_wrapper {
      padding: 0 10px;
      height: inherit;
      display: flex;
      min-width: $filter-width;
      justify-content: space-between;
      align-items: center;
      img {
        width: 25px;
        height: 25px;
      }
      &:hover {
        color: $primary-color;
        background-color: $overlay-hover;
      }
    }
  }
}

.filter-options {
  z-index: 1;
  width: $filter-width;
  position: absolute;
  top: 30px;
  right: 0;

  transform-origin: top;

  width: 100%;
  &::before {
    content: "";
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color: $background-color;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  ul {
    background-color: $overlay-1dp;
    @include box-shadow;
    list-style: none;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    li {
      width: 100%;
      height: 30px;
      line-height: 30px;
      text-align: center;
      border: 1px solid transparent;
      cursor: pointer;
      &:hover {
        color: $primary-color;
        background-color: $overlay-hover;
      }
    }
  }
}
