@import "~src/variables";
$filter-width: 120px;

.searcher {
  &_title {
    text-align: center;
    color: $primary-color;
    margin: 10px 0;
  }

  &_content {
    display: flex;
    height: 40px;
    padding: 5px 10px;
    justify-content: space-between;
    align-items: center;
  }

  width: 80%;
  max-width: 600px;
  margin: 10px auto;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: $surface-color;
  form {
    width: 100%;
    height: 100%;
  }
  &_input {
    padding: 0 10px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    width: 100%;
    outline: none;
    border: 1px solid $primary-color;
  }

  &_filter {
    position: relative;
    display: flex;
    height: 100%;
    padding: 0 10px;
    min-width: $filter-width;
    justify-content: space-between;
    align-items: center;
    color: $text-high-color;

    img {
      width: 25px;
      height: 25px;
    }
  }
}

.filter-options {
  width: $filter-width;
  background-color: $surface-color;
  position: absolute;
  top: 35px;
  right: 0;
  transition: all ease 0.5s;
  box-shadow: 0 6px 4px -4px $background-color, 5px 0 5px -5px $background-color,
    -5px 0 5px -5px $background-color;
  transform: scaleY(1);
  transform-origin: top;
  &--hidden {
    //display: none;
    transform: scaleY(0);
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      width: 100%;
      height: 30px;
      line-height: 30px;
      text-align: center;
      border: 1px solid transparent;
      cursor: pointer;
      &:hover {
        color: $primary-color;
        border: 1px solid $primary-color;
      }
    }
  }
}
