@import "~src/variables";

.details_container {
  z-index: 2;
  position: fixed;
  top: $header-height;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($color: black, $alpha: 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.details {
  position: relative;
  width: 500px;
  background-color: $overlay-2dp;
  color: $text-high-color;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 5px 2px $background-color;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $background-color;
    z-index: -1;
  }
  &_close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 20px;
    width: 20px;
    cursor: pointer;
    &:hover {
      filter: drop-shadow(0px 0px 5px rgba($primary-color, 0.8));
    }
  }
  &_title {
    text-align: center;
    color: $primary-color;
  }
  &_up {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  &_image {
    width: 200px;
    height: 200px;
    img {
      width: 100%;
    }
  }
}

.ingredients {
  padding: 0 20px;
  &_list {
    padding-top: 5px;
    padding-bottom: 5px;
    height: 150px;
    overflow-y: auto;
    @include scrollbar();
    border-top: 1px solid $primary-color;
    border-bottom: 1px solid $primary-color;
  }
  button {
    display: block;
    margin: 0 auto;
    padding: 4px 10px;
    border-radius: 5px;
    background-color: $primary-color;
    color: $text-high-color;
    border: 1px solid transparent;
    cursor: pointer;
    &:hover {
      background-color: $surface-color;
      color: $primary-color;
      border: 1px solid $primary-color;
    }
  }
}

.instructions {
  margin: 10px 0;
  &_text {
    height: 120px;
    width: 100%;
    line-break: auto;
    border: 1px solid $primary-color;
    padding: 10px;
    overflow-y: auto;
    @include scrollbar();
  }
  &_tab {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 20px auto 0 auto;
    li {
      flex: 1;
      text-align: center;
      padding: 3px 10px;
      cursor: pointer;
      &.active {
        background-color: $primary-color;
      }
      &:hover {
        background-color: rgba($primary-color, 0.7);
      }
    }
  }
}

.hightlight {
  color: $primary-color;
  margin: 0;
}
.details_tags {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  div {
    margin: 5px 0;
    /*   width: fit-content;
    display: flex;
    align-items: center; */
    p:first-child {
      margin-right: 10px;
    }
    p:last-child {
      width: fit-content;
      color: $text-medium-color;
      border: 1px solid $text-medium-color;
      padding: 3px 10px;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        color: $primary-color;
        border: 1px solid $primary-color;
      }
    }
  }
  p {
    margin: 0;
  }
}

.modal {
  z-index: 2;
  position: fixed;
  top: $header-height;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($color: black, $alpha: 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
