<div class="details_container">
  <div class="details" *ngIf="cocktail">
    <img
      (click)="onClose()"
      class="details_close-icon"
      src="assets/icons/close_icon_purple.svg"
      alt=""
    />
    <h3 class="details_title">{{ cocktail?.strDrink }}</h3>
    <div class="details_up">
      <div class="details_image">
        <img [src]="cocktail?.strDrinkThumb" alt="" />
      </div>
      <div class="ingredients">
        <h4 class="hightlight">Ingredients</h4>
        <ol class="ingredients_list">
          <ng-container *ngFor="let ingredient of ingredients">
            <li *ngIf="cocktail[getIngredients(ingredient)]">
              {{
                cocktail[getIngredients(ingredient)] +
                  ". " +
                  cocktail[getMeasures(ingredient)]
              }}
            </li>
          </ng-container>
        </ol>
      </div>
    </div>
    <div class="instructions">
      <h4 class="hightlight">Instructions</h4>

      <ul class="instructions_tab">
        <ng-container *ngFor="let language of ['EN', 'ES', 'DE', 'FR', 'IT']">
          <li
            *ngIf="cocktail[getInstructions(language)]"
            (click)="handleTabChange(language)"
            [class.active]="instructions === language"
          >
            {{ language }}
          </li>
        </ng-container>
      </ul>
      <div class="instructions_text">
        <p>
          {{ cocktail[getInstructions(instructions)] }}
        </p>
      </div>
    </div>
  </div>
</div>
