@import "~src/variables";
.filter {
  z-index: 1;
  position: relative;
  max-width: 600px;
  height: 40px;
  background-color: $surface-color;
  border-radius: 5px;
  margin: 20px auto;
  color: $text-high-color;
  &_toggle {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &_content {
    position: absolute;
    top: 35px;
    width: 600px;
    left: 0;
    transform: scaleY(1);
    transition: all ease 0.5s;
    transform-origin: top;
    &--hidden {
      transform: scaleY(0);
    }
  }
}
