@import "~src/variables";

$height: 40px;
.filter {
  position: relative;
  width: 80%;
  max-width: $content-width;
  height: $height;
  background-color: $overlay-1dp;
  border-radius: 5px;
  margin: 20px auto;
  color: $text-high-color;

  &_toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &-title {
      margin: 0;
      line-height: $height;
    }
    &:hover,
    &:active {
      color: $primary-color;
      background-color: $overlay-hover;
    }
  }
  &_content {
    position: absolute;
    top: $height;
    width: 100%;
    height: 500px;
    left: 0;
    transition: transform ease 0.5s;
    transform-origin: top;
    & > div {
      height: 100%;
      width: 100%;
      overflow-y: auto;
      @include scrollbar;
    }
    &.hidden {
      transform: scaleY(0.001);
    }
    &.visible {
      transform: scaleY(1);
    }
    /*  &--hidden {
      transform: scaleY(0.001);
    } */
    background-color: $background-color;
    &::after {
      z-index: -1;
      content: "";
      position: fixed;
      background-color: $overlay-1dp;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }

    @include box-shadow;
  }
}
