<div class="filter" id="otracosa">
  <div #filter class="filter_toggle" (click)="toggleTag()">
    <h3 class="filter_toggle-title">Filter by tag</h3>
  </div>
  <div
    [ngClass]="{
      filter_content: true,
      hidden: !menuIsOpen,
      visible: menuIsOpen
    }"
    class="filter_content hidden"
    #filterMenu
  >
    <div>
      <app-filter-list
        (handleTagClick)="handleNavigation($event.type, $event.tag)"
        type="a"
        title="Alcoholic"
      ></app-filter-list>
      <app-filter-list
        (handleTagClick)="handleNavigation($event.type, $event.tag)"
        [type]="'c'"
        title="Category"
      ></app-filter-list>
      <app-filter-list
        (handleTagClick)="handleNavigation($event.type, $event.tag)"
        [type]="'g'"
        title="Glass"
      ></app-filter-list>
      <app-filter-list
        (handleTagClick)="handleNavigation($event.type, $event.tag)"
        [type]="'i'"
        title="Ingredient"
      ></app-filter-list>
    </div>
  </div>
</div>
