@import "~src/variables";

.scroll-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 4px 10px;
  border-radius: 5px;
  background-color: #a476dd;

  border: none;
  color: $text-high-color;
  box-shadow: 0 0 5px 1px #121212;
  border: 1px solid transparent;
  cursor: pointer;
}
