$radius: 30px;
div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  ul {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      position: absolute;
      display: block;
      width: 10px;
      height: 10px;
      background-color: gray;
      border-radius: 50%;
      left: 50%;
      top: 50%;
      margin-left: -5px;
      margin-top: -5px;

      animation: fadeInOut 1s ease infinite;
      &:first-child {
        transform: rotate(0deg) translate($radius);
        animation-delay: 0.1s;
      }
      &:nth-child(2) {
        transform: rotate(36deg) translate($radius);
        animation-delay: 0.2s;
      }
      &:nth-child(3) {
        transform: rotate(72deg) translate($radius);
        animation-delay: 0.3s;
      }
      &:nth-child(4) {
        transform: rotate(108deg) translate($radius);
        animation-delay: 0.4s;
      }
      &:nth-child(5) {
        transform: rotate(144deg) translate($radius);
        animation-delay: 0.5s;
      }
      &:nth-child(6) {
        transform: rotate(180deg) translate($radius);
        animation-delay: 0.6s;
      }
      &:nth-child(7) {
        transform: rotate(216deg) translate($radius);
        animation-delay: 0.7s;
      }
      &:nth-child(8) {
        transform: rotate(252deg) translate($radius);
        animation-delay: 0.8s;
      }
      &:nth-child(9) {
        transform: rotate(288deg) translate($radius);
        animation-delay: 0.9s;
      }
      &:last-child {
        transform: rotate(324deg) translate($radius);
        animation-delay: 1s;
      }
    }
  }
}

@keyframes fadeInOut {
  from {
    background-color: rgba(grey, 1);
  }
  to {
    background-color: rgba(grey, 0);
  }
}
