/******************************************/
/**************    COLORS    **************/
/******************************************/

$primary-color: #bb86fc;
$secoundary-color: #03dac5;
$error-color: #cf6678;

$background-color: #121212;
$surface-color: #424242;
$surface-item-color: #616161;
$surface-item-color2: #757575;
$surface-item-color2: #9e9e9e;

$hover-color: #616161;

$dark-grey: #121212;
$dark-primary: #1f1b24;

$primary-variant: #3700b3;
$secoundary-variant: #018786;
$error-variant: #b00020;
$success-color: #00b090;

$background-variant: #ffffff;
$surface-variant: #ffffff;

$text-high-color: #ffffffde;
$text-medium-color: #ffffff99;
$text-disabled-color: #ffffff61;
$text-high-variant: #000000de;
$text-medium-variant: #00000099;
$text-disabled-variant: #00000061;

/******************************************/
/***************    SIZES    **************/
/******************************************/

$header-height: 40px;

@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: $primary-color;
    border-radius: 2px;
  }
  &::-webkit-scrollbar-track {
    background: #424242;
  }
}

@mixin box-shadow {
  box-shadow: 0 0 5px $background-color;
}
