/******************************************/
/**************    COLORS    **************/
/******************************************/

$primary-color: #bb86fc;
$secoundary-color: #03dac5;
$error-color: #cf6678;

$background-color: #121212;
$surface-color: #424242;
$surface-item-color: #616161;
$surface-item-color2: #757575;
$surface-item-color2: #9e9e9e;

$hover-color: #616161;

$dark-grey: #121212;
$dark-primary: #1f1b24;

$primary-variant: #3700b3;
$secoundary-variant: #018786;
$error-variant: #b00020;
$success-color: #00b090;

$background-variant: #ffffff;
$surface-variant: #ffffff;

$text-high-color: rgba(255, 255, 255, 0.87);
$text-medium-color: rgba(255, 255, 255, 0.6);
$text-disabled-color: rgba(255, 255, 255, 0.38);

$overlay-1dp: rgba(255, 255, 255, 0.09);
$overlay-2dp: rgba(255, 255, 255, 0.11);
$overlay-3dp: rgba(255, 255, 255, 0.14);

$overlay-hover: rgba(255, 255, 255, 0.14);
/******************************************/
/***************    SIZES    **************/
/******************************************/

$header-height: 40px;
$content-width: 800px;

@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: $primary-color;
    border-radius: 2px;
  }
  &::-webkit-scrollbar-track {
    background: #424242;
  }
}

@mixin box-shadow {
  box-shadow: 0 0 5px $background-color;
}
