@import "~src/variables";

.cocktails {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: $surface-color;
  border-radius: 5px;

  &_list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 10px;
  }
  &_title {
    color: $primary-color;
    text-align: center;
  }
}
