@import "~src/variables";

.cocktails {
  width: 80%;
  max-width: $content-width;
  margin: 20px auto;
  padding: 20px;
  background-color: $overlay-1dp;
  border-radius: 5px;

  &_list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 10px;
  }
  &_title {
    color: $primary-color;
    text-align: center;
  }
  &_category {
    color: $text-high-color;
    text-align: center;
  }
}
